<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>

  <!-- CSS Libraries Icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/MinhaConta.css" rel="stylesheet">
  <link href="/lib/slick/slick.css" rel="stylesheet">
  <link href="/lib/slick/slick-theme.css" rel="stylesheet">

</head>
<body>

<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/home" class="nav-item nav-link">Home</a>
                    <a href="/produtos" class="nav-item nav-link">Produtos</a>
                    <a href="/checkout" class="nav-item nav-link">Checkout</a>
                    <a href="/minhaConta" class="nav-item nav-link">Minha Conta</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a id="menu-entrar" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Entrar</a>
                        <div class="dropdown-menu">
                            <a href="/login" class="dropdown-item">Login</a>
                            <a href="/cadastro" class="dropdown-item">Registrar</a>
                            <a href="/dashboard" class="dropdown-item">Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->


<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="home">
                        <img src="/image/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Buscar">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="/listadesejo" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(4)</span>
                    </a>
                    <a href="/carrinho" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>(3)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bottom Bar End -->

<!-- Checkout Start -->
    <div class="checkout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-inner">
                        <div class="billing-address">
                            <h2>Endereço de Pagamento</h2>
                            <form action="produto/checkout" method="POST" th:object="${cliente}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Primeiro Nome</label>
                                        <input class="form-control" type="text" placeholder="Full Name" th:field="*{nome}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" placeholder="E-mail" th:field="*{email}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Telefone</label>
                                        <input class="form-control" type="text" placeholder="Mobile No" th:field="*{telefone}">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Endereço</label>
                                        <input class="form-control" type="text" placeholder="Address" th:value="${enderecopagamento?.longadouro + ', ' + enderecopagamento?.numero}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Paises</label>
                                        <select class="custom-select">
                                            <option selected>Brasil</option>
                                            <option>Estados Unidos</option>
                                            <option>Columbia</option>
                                            <option>Argentina</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cidade</label>
                                        <input class="form-control" type="text" placeholder="Cidade" th:value="${enderecopagamento?.cidade?.nome}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Estado</label>
                                        <input class="form-control" type="text" placeholder="Estado" th:value="${enderecopagamento?.cidade?.estado?.nome}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>CEP</label>
                                        <input class="form-control" type="text" placeholder="CEP" th:value="${enderecopagamento?.cep}">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="newaccount">
                                            <label class="custom-control-label" for="newaccount">Criar Conta</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="shipto">
                                            <label class="custom-control-label" for="shipto">Mudar Endereço</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="shipping-address">
                            <h2>Endereço de Envio</h2>
                            <form action="produto/checkout" method="POST" th:object="${cliente}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Primeiro Nome</label>
                                        <input class="form-control" type="text" placeholder="Full Name" th:field="*{nome}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                        <input class="form-control" type="text" placeholder="E-mail" th:field="*{email}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Telefone</label>
                                        <input class="form-control" type="text" placeholder="Mobile No" th:field="*{telefone}">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Endereço</label>
                                        <input class="form-control" type="text" placeholder="Address" th:value="${enderecoenvio?.longadouro + ', ' + enderecoenvio?.numero}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Paises</label>
                                        <select class="custom-select">
                                            <option selected>Brasil</option>
                                            <option>Estados Unidos</option>
                                            <option>Columbia</option>
                                            <option>Argentina</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cidade</label>
                                        <input class="form-control" type="text" placeholder="Cidade" th:value="${enderecoenvio?.cidade?.nome}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Estado</label>
                                        <input class="form-control" type="text" placeholder="Estado" th:value="${enderecoenvio?.cidade?.estado?.nome}">
                                    </div>
                                    <div class="col-md-6">
                                        <label>CEP</label>
                                        <input class="form-control" type="text" placeholder="CEP" th:value="${enderecoenvio?.cep}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-inner">
                        <div class="checkout-summary">
                            <h1>Carrinho</h1>
                            <p class="sub-total" th:text="'Produto : ' + ${produto?.nome}"></p><span th:text="${'R$' + produto?.valor + ',00'}"></span>
                            <p class="sub-total">Sub Total</p><span>R$ 99,90</span>
                            <p class="ship-cost">Frete</p><span>R$ 15,00</span>
                            <p class="ship-cost">Desconto</p><span>R$ 10,00</span>
                            <h2>Valor Total</h2><span>R$ 100,00</span>
                        </div>

                        <div class="checkout-payment">
                            <div class="payment-methods">
                                <h1>Metodo de Pagamento</h1>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                        <label class="custom-control-label" for="payment-1">Cartão de Credito</label>
                                    </div>
                                    <div class="payment-content" id="payment-1-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                        <label class="custom-control-label" for="payment-2">PIX</label>
                                    </div>
                                    <div class="payment-content" id="payment-2-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-3" name="payment">
                                        <label class="custom-control-label" for="payment-3">Check</label>
                                    </div>
                                    <div class="payment-content" id="payment-3-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-4" name="payment">
                                        <label class="custom-control-label" for="payment-4">Tranferencia Bancariar</label>
                                    </div>
                                    <div class="payment-content" id="payment-4-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-5" name="payment">
                                        <label class="custom-control-label" for="payment-5">Em Dinheiro</label>
                                    </div>
                                    <div class="payment-content" id="payment-5-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="checkout-btn">
                                <button>Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->


<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  
  <!-- JavaScript Libraries --> 
  <script src="/js/jquery-3.4.1.min.js"></script> <!-- necessario para fazer a animação de Troca da Tabela-->
  <script src="/js/bootstrap.js"></script>        <!-- necessario para fazer a animação de Troca da Tabela-->
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/slick/slick.min.js"></script>
  
  <!-- Template Javascript -->
  <script src="/js/main.js"></script>

</body>
</html>