<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cadastro de Usuairo</title>
  <link rel="stylesheet" href="/css/Cadastro.css">
  <link rel="stylesheet" href="/css/Cabecalho.css">
  <link rel="stylesheet" href="/css/Rodape.css">

</head>
<body>
  <nav id="menu-h">
    <ul>
      <li><a href="Home">Home</a></li>
      <li><a href="#">Produtos</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="Alterar_Endereco">Minha Conta</a></li>
      <li><a href="Login">Entrar</a></li>
      </ul>
  </nav>
  <div id="main-container">
    <h1>Cadastre-se para comprar</h1>
    <form id="register-form" action="">
      <!-- Email -->
      <div class="full-box">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail" data-min-length="10" data-email-validate>
      </div>
      <!-- Nome -->
      <div class="full-box">
          <label for="nome">Nome</label>
          <input type="text" name="Nome Completo" id="name" placeholder="Nome Completo" data-required data-min-length="5" data-max-length="30">
      </div>
      <!-- CPF -->
      <div class="half-box spacing">
        <label for="CPF">CPF</label>
        <input type="text" name="CPF" id="CPF" placeholder="Ex: 11111111111" data-required data-min-length="11"  onlynumbers isValidCPF >
      </div>
      <!-- Telefone -->
      <div class="half-box">
        <label for="Telefone">Telefone</label>
        <input type="text" name="Telefone" id="Telefone" placeholder="Ex: 1199999-9999" data-required data-min-length="11" data-max-length="14" onlynumbers>
      </div>
      <!-- Data de nascimento -->
      <div class="half-box spacing">
        <label for="DtNascimento">Data de Nascimento</label>
        <input type="date" name="DtNascimento" id="DtNascimento" placeholder="Informe a data de nascimento" data-required calcIdade>
      </div>
      <!-- Genero -->
      <div class="half-box">
        <label for="Genero">Genero</label>
        <input type="text" name="Genero" id="Genero" placeholder="Genero" list="generos" data-required >
        <datalist id="generos">
          <option value="Masculino">  
          <option value="Femino">
          <option value="Outros">
        </datalist>
      </div>
      <!-- Senha -->
      <div class="half-box spacing">
        <label for="lastname">Senha</label>
        <input type="password" name="password" id="password" placeholder="Digite sua senha" data-password-validate data-required>
      </div>
      <!-- Confirmar Senha -->
      <div class="half-box">
        <label for="passconfirmation">Confirmação de senha</label>
        <input type="password" name="passconfirmation" id="passwordconfirmation" placeholder="Digite novamente sua senha" data-equal="password">
      </div>
      <!-- CEP -->
      <div class="half-box spacing">
        <label for="CEP">CEP</label>
        <input type="text" name="CEP" id="cep" placeholder="Ex: 00000-000" data-required  data-min-length="8" data-max-length="9" > 
      </div>
      <!-- Logrodouro -->
      <div class="half-box">
        <label for="Logradouro">Logrodouro</label>
        <input type="text" name="Logradouro" id="logradouro" placeholder="Logradouro" data-required>
      </div>
      <!-- Bairro -->
      <div class="half-box spacing">
        <label for="Bairro">Bairro</label>
        <input type="text" name="Bairro" id="bairro" placeholder="Bairro" data-required>
      </div>
      <!-- Cidade -->
      <div class="half-box">
        <label for="Cidade">Cidade</label>
        <input type="text" name="Cidade" id="localidade" placeholder="Cidade" data-required>
      </div>
      <!-- Estado -->
      <div class="half-box spacing">
        <label for="Estado">Estado</label>
        <input type="text" name="Estado" id="uf" placeholder="Estado" data-required>
      </div>
      <!-- Complemento -->
      <div class="half-box">
        <label for="Complemento">Complemento</label>
        <input type="text" name="Complemento" id="Complemento" placeholder="Complemento" data-required>
      </div>
      <!-- Envio de formulario -->
      <div class="full-box">
        <input id="btn-submit" type="submit" value="Registrar">
      </div>
    </form>
  </div>
  
  <!-- texto da validação retorno -->
  <p class="error-validation template"></p>
  <script src="/js/validacao.js"></script>
</body>
</html>