<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/Login.css">
    <link rel="stylesheet" href="/css/Cabecalho.css">
    <link rel="stylesheet" href="/css/Rodape.css">

</head>
<body>
    <nav id="menu-h">
        <ul>
          <li><a href="Home">Home</a></li>
          <li><a href="#">Produtos</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="Alterar_Endereco">Minha Conta</a></li>
          <li><a href="Login">Entrar</a></li>
          </ul>
    </nav>

    <form class="Caixa-Login" action="home.html" method="post">
        <h1>Login</h1>
        <input type="text" name="" id="" placeholder="Usuario">
        <input type="password" name="" id="" placeholder="Senha">
        <div>
            <a href="Home" style="text-decoration:none"><input type="button" name="" value="   Login   "></a>
            <!-- <input type="submit" name="" value="   Login   "> -->
        </div>
        <div>
            <a href="Cadastro" style="text-decoration:none"><input type="button" name="" value="Cadastro"></a>
        </div>
    </form>

</body>
</html>