<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alterar Cartão</title>

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/MinhaConta.css" rel="stylesheet">
  <link href="/css/Cadastro.css"  rel="stylesheet">

</head>
<body>
        <!-- Nav Bar Start -->
        <div class="nav">
          <div class="container-fluid">
              <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                      <div class="navbar-nav mr-auto">
                          <a href="home" class="nav-item nav-link">Home</a>
                          <a href="#" class="nav-item nav-link">Produtos</a>
                          <a href="minhaConta" class="nav-item nav-link">Minha Conta</a>
                      </div>
                      <div class="navbar-nav ml-auto">
                          <div class="nav-item dropdown">
                              <a id="menu-entrar" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Entrar</a>
                              <div class="dropdown-menu">
                                  <a href="login" class="dropdown-item">Login</a>
                                  <a href="cadastro" class="dropdown-item">Registrar</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
      <!-- Nav Bar End --> 



  <div id="main-container">
    <h1>Cartâo</h1>
    <form id="register-form" action="">
      <!-- Nome Completo -->
      <div class="full-box">
        <label for="NomeCompleto">Nome Completo</label>
        <input type="text" name="NomeCompleto" id="NomeCompleto" placeholder="Ex: Bruno abner" data-required  data-min-length="8" data-max-length="9" > 
      </div>
      <!-- Numero do Cartão -->
      <div class="full-box">
        <label for="NumeroCartao">Numero do Cartão</label>
        <input type="text" name="NumeroCartao" id="NumeroCartao" placeholder="Ex: 0000-0000-0000-0000" data-required  data-min-length="8" data-max-length="9" > 
      </div>
      <!-- Codigo -->
      <div class="half-box spacing">
        <label for="Codigo">Codigo de Segurança</label>
        <input type="text" name="Codigo" id="Codigo" placeholder="000" data-required>
      </div>
      <!-- Bandeira -->
      <div class="half-box">
        <label for="Bandeira">Bandeira</label>
        <input type="text" name="Bandeira" id="Bandeira" placeholder="MasterCard" list="tipobandeira" data-required>
          <datalist id="tipobandeira">
              <option value="Visa">
              <option value="MasterCard">
          </datalist>
      </div>
      <!-- Descricao -->
      <div class="full-box">
        <label for="Descricao">Descricao</label>
        <input type="text" name="Descricao" id="Descricao" placeholder="Complemento : Opcional" data-required>
      </div>

      <div class="full-box">
        <input type="checkbox" name="agreement" id="agreement">
        <label for="agreement" id="agreement-label"> Adicionar como Cartão Principal</label>
      </div>
      
      <!-- Envio Salvar de formulario -->
      <div class="half-box spacing">
        <input id="btn-submit" type="submit" value="Salvar">
      </div>

      <!-- Envio de formulario -->
      <div class="half-box">
        <input id="btn-submit" type="submit" value="Excluir">
      </div>

      
    </form>
  </div>



  

    <!-- JavaScript Libraries --> 
    <script src="js/jquery-3.4.1.min.js"></script> <!-- necessario para fazer a animação de Troca da Tabela-->
    <script src="js/bootstrap.js"></script>        <!-- necessario para fazer a animação de Troca da Tabela-->
    
    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</body>
</html>