<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cadastro de Usuario</title>


  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/MinhaConta.css"rel="stylesheet">
  <link href="/css/Cadastro.css"  rel="stylesheet"> 


</head>
<body>

    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="/home" class="nav-item nav-link">Home</a>
                        <a href="#" class="nav-item nav-link">Produtos</a>
                        <a href="/minhaConta" class="nav-item nav-link">Minha Conta</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a id="menu-entrar" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Entrar</a>
                            <div class="dropdown-menu">
                                <a href="/login" class="dropdown-item">Login</a>
                                <a href="/cadastro" class="dropdown-item">Registrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End --> 


  <div id="main-container">
    <h1>Cadastro de Usuario</h1>
    <form id="register-form" method="POST">
      <!-- Email -->
      <div class="full-box">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail" data-min-length="10" data-email-validate>
      </div>
      <!-- Nome -->
      <div class="full-box">
          <label for="nome">Nome</label>
          <input type="text" name="nome" id="nome" placeholder="Nome Completo" data-required data-min-length="5" data-max-length="30">
      </div>
      <!-- CPF -->
      <div class="half-box spacing">
        <label for="CPF">CPF</label>
        <input type="text" name="cpf" id="cpf" placeholder="Ex: 11111111111" data-required data-min-length="11"  onlynumbers isValidCPF >
      </div>
      <!-- Telefone -->
      <div class="half-box">
        <label for="Telefone">Telefone</label>
        <input type="text" name="telefone" id="telefone" placeholder="Ex: 1199999-9999" data-required data-min-length="11" data-max-length="14" onlynumbers>
      </div>
      <!-- Data de nascimento -->
      <div class="half-box spacing">
        <label for="DtNascimento">Data de Nascimento</label>
        <input type="date" name="datanascimento" id="datanascimento" placeholder="Informe a data de nascimento" data-required calcIdade>
      </div>
      <!-- Genero -->
      <div class="half-box">
        <label for="Genero">Genero</label>
        <input type="text" name="genero" id="genero" placeholder="Genero" list="generos" data-required >
        <datalist id="generos">
          <option value="Masculino">  
          <option value="Femino">
          <option value="Outros">
        </datalist>
      </div>
      <!-- Senha -->
      <div class="half-box spacing">
        <label for="lastname">Senha</label>
        <input type="password" name="senha" id="senha" placeholder="Digite sua senha" data-password-validate data-required>
      </div>
      <!-- Confirmar Senha -->
      <div class="half-box">
        <label for="passconfirmation">Confirmação de senha</label>
        <input type="password" name="sanhaconfirmacao" id="sanhaconfirmacao" placeholder="Digite novamente sua senha" data-equal="password">
      </div>
      <!-- CEP -->
      <div class="half-box spacing">
        <label for="CEP">CEP</label>
        <input type="text" name="CEP" id="cep" placeholder="Ex: 00000-000" data-required  data-min-length="8" data-max-length="9" > 
      </div>
      <!-- Logrodouro -->
      <div class="half-box">
        <label for="Logradouro">Logrodouro</label>
        <input type="text" name="logradouro" id="logradouro" placeholder="Logradouro, Numero" data-required>
      </div>
      <!-- Bairro -->
      <div class="half-box spacing">
        <label for="Bairro">Bairro</label>
        <input type="text" name="bairro" id="bairro" placeholder="Bairro" data-required>
      </div>
      <!-- Cidade -->
      <div class="half-box">
        <label for="Cidade">Cidade</label>
        <input type="text" name="cidade" id="localidade" placeholder="Cidade" data-required>
      </div>
      <!-- Estado -->
      <div class="half-box spacing">
        <label for="Estado">Estado</label>
        <input type="text" name="Estado" id="uf" placeholder="Estado" data-required>
      </div>
        <!-- Tipo Residencia -->
        <div class="half-box">
            <label for="tipoendereco">Tipo Endereço</label>
            <input type="text" name="tipoendereco" id="tipoendereco" placeholder="Tipo Endereço" list="tiposendereco" data-required >
            <datalist id="tiposendereco">
                <option value="Residencia">
                <option value="Apartamento">
                <option value="Sitio">
                <option value="Outros">
            </datalist>
        </div>
      <!-- Complemento -->
      <div class="full-box">
        <label for="Complemento">Complemento</label>
        <input type="text" name="complemento" id="complemento" placeholder="Complemento" data-required>
      </div>
      <!-- Envio de formulario -->
      <div class="full-box">
        <input id="btn-submit" type="submit" value="Salvar">
      </div>
    </form>
  </div>
  
  <!-- texto da validação retorno -->
  <p class="error-validation template"></p>
  <script src="js/validacao.js"></script>

  <!-- JavaScript Libraries --> 
  <script src="/js/jquery-3.4.1.min.js"></script> <!-- necessario para fazer a animação de Troca da Tabela-->
  <script src="/js/bootstrap.js"></script>        <!-- necessario para fazer a animação de Troca da Tabela-->
  
  <!-- Template Javascript -->
  <script src="/js/main.js"></script>

</body>
</html>