<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Excluido</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/MinhaConta.css" rel="stylesheet">
  <link href="css/Cadastro.css"  rel="stylesheet"> 

</head>
<body>
        <!-- Nav Bar Start -->
        <div class="nav">
          <div class="container-fluid">
              <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                  <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                      <div class="navbar-nav mr-auto">
                          <a href="Home.html" class="nav-item nav-link">Home</a>
                          <a href="#" class="nav-item nav-link">Produtos</a>
                          <a href="MinhaConta.html" class="nav-item nav-link">Minha Conta</a>
                      </div>
                      <div class="navbar-nav ml-auto">
                          <div class="nav-item dropdown">
                              <a id="menu-entrar" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Entrar</a>
                              <div class="dropdown-menu">
                                  <a href="Login.html" class="dropdown-item">Login</a>
                                  <a href="Cadastro.html" class="dropdown-item">Registrar</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
      <!-- Nav Bar End --> 



  <div id="main-container">
    <h1>Excluido com Sucesso</h1>
        <!-- Voltar ao Dashboard -->
        <a href="Dashboard.html"><button class="ref-btn">Voltar</button></a>
  </div>

    <!-- JavaScript Libraries --> 
    <script src="js/jquery-3.4.1.min.js"></script> <!-- necessario para fazer a animação de Troca da Tabela-->
    <script src="js/bootstrap.js"></script>        <!-- necessario para fazer a animação de Troca da Tabela-->
    
    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</body>
</html>