<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>

  <!-- CSS Libraries Icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/MinhaConta.css" rel="stylesheet">

</head>
<body>

    <!-- Nav Bar Start -->
    <div class="nav">
      <div class="container-fluid">
          <nav class="navbar navbar-expand-md bg-dark navbar-dark">
              <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                  <div class="navbar-nav mr-auto">
                      <a href="home" class="nav-item nav-link">Home</a>
                      <a href="#" class="nav-item nav-link">Produtos</a>
                      <a href="minhaConta" class="nav-item nav-link">Minha Conta</a>
                  </div>
                  <div class="navbar-nav ml-auto">
                      <div class="nav-item dropdown">
                          <a id="menu-entrar" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Entrar</a>
                          <div class="dropdown-menu">
                              <a href="login" class="dropdown-item">Login</a>
                              <a href="cadastro" class="dropdown-item">Registrar</a>
                              <a href="dashboard" class="dropdown-item">Dashboard</a>
                          </div>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
  </div>
  <!-- Nav Bar End --> 


    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="home">
                        <img src="image/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(4)</span>
                    </a>
                    <a href="cart" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>(3)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Bottom Bar End -->  

  <!-- Back to Top -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  
  <!-- JavaScript Libraries --> 
  <script src="js/jquery-3.4.1.min.js"></script> <!-- necessario para fazer a animação de Troca da Tabela-->
  <script src="js/bootstrap.js"></script>        <!-- necessario para fazer a animação de Troca da Tabela-->
  
  <!-- Template Javascript -->
  <script src="js/main.js"></script>

</body>
</html>