<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/MinhaConta.css"rel="stylesheet">

</head>
<body>

    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="/home" class="nav-item nav-link">Home</a>
                        <a href="/produto/produtos" class="nav-item nav-link">Produtos</a>
                    </div>
                    <div class="navbar-nav ml-auto">
                        <div class="nav-item dropdown">
                            <a id="menu-entrar" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Entrar</a>
                            <div class="dropdown-menu">
                                <a href="/login" class="dropdown-item">Login</a>
                                <a href="/login/cadastro" class="dropdown-item">Registrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End --> 

    <form class="Caixa-Login" action="/login" method="POST">
        <h1>Login</h1>
        <input type="text" name="email" placeholder="Usuario">
        <input type="password" name="senha" placeholder="Senha">
        <div>
            <input type="submit" value="   Login   ">
            <!-- <input type="submit" name="" value="   Login   "> -->
        </div>
        <div>
            <a href="/login/cadastro" style="text-decoration:none"><input type="button" name="" value="Cadastro"></a>
        </div>
    </form>

    <!-- JavaScript Libraries --> 
    <script src="js/jquery-3.4.1.min.js"></script> <!-- necessario para fazer a animação de Troca da Tabela-->
    <script src="js/bootstrap.js"></script>        <!-- necessario para fazer a animação de Troca da Tabela-->
    
    <!-- Template Javascript -->
    <script src="js/main.js"></script>

</body>
</html>