/**********************************/
/********** General CSS ***********/
/**********************************/

body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    top: 50px;
    background-image: url('../img/bg-register-page.png');
    background-size: cover;
    background-position-y: -150px;
}

a {
    color: rgb(209, 62, 62);
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}

@media(min-width: 992px) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
    }
}


/**********************************/
/********* Bottom Bar CSS *********/
/**********************************/
.bottom-bar {
    background: rgb(173, 40, 58);
    margin-bottom: 30px;
}

.bottom-bar .logo {
    text-align: left;
    overflow: hidden;
}

.bottom-bar .logo a img {
    max-height: 60px;
}

.bottom-bar .search {
    width: 100%;
}

.bottom-bar .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #FF6F61;
    border-radius: 4px;
}

.bottom-bar .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #FF6F61;
    border-radius: 0 2px 2px 0;
}

.bottom-bar .search button:hover {
    background: #FF6F61;
    color: #ffffff;
}

.bottom-bar .user {
    font-size: 0;
    text-align: right;
}

.bottom-bar .user .wishlist {
    margin-right: 15px;
}

.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
    color: #FF6F61;
}

.bottom-bar .user .cart span,
.bottom-bar .user .wishlist span {
    color: #FF6F61;
    font-size: 15px;
}

.bottom-bar .user .cart:hover i,
.bottom-bar .user .wishlist:hover i,
.bottom-bar .user .cart:hover span,
.bottom-bar .user .wishlist:hover span {
    color: #ffffff;
}

@media (min-width: 768px) {
    .bottom-bar {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .bottom-bar .logo,
    .bottom-bar .search,
    .bottom-bar .user {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .bottom-bar .user {
        margin-bottom: 0;
    }
}


/**********************************/
/*****Bottom Bar CSS DashBoard*****/
/**********************************/
.bottom-bar-db {
    padding: 2px 0;
    background: #ffffff;
    border-radius: 6px;
    margin-bottom: 5px;
}

.bottom-bar-db .search {
    width: auto;
}

.bottom-bar-db .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: rgb(209, 62, 62);
    border: 1px solid rgb(241, 241, 241);
    border-radius: 4px;
}

.bottom-bar-db .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: rgb(209, 62, 62);
    border-radius: 2px 2px 2px 2px;
}

.bottom-bar-db .search button:hover {
    background: rgb(209, 62, 62);
    color: #ffffff;
}

.bottom-bar-db .user {
    font-size: 0;
    text-align: right;
}

.bottom-bar-db .user .wishlist {
    margin-right: 15px;
}

.bottom-bar-db .user .cart i,
.bottom-bar-db .user .wishlist i {
    color: rgb(209, 62, 62);
}

.bottom-bar-db .user .cart span,
.bottom-bar-db .user .wishlist span {
    color: rgb(209, 62, 62);
    font-size: 15px;
}

.bottom-bar-db .user .cart:hover i,
.bottom-bar-db .user .wishlist:hover i,
.bottom-bar-db .user .cart:hover span,
.bottom-bar-db .user .wishlist:hover span {
    color: #ffffff;
}

@media (min-width: 768px) {
    .bottom-bar-db {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .bottom-bar-db .logo,
    .bottom-bar-db .search,
    .bottom-bar-db .user {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .bottom-bar-db .user {
        margin-bottom: 0;
    }
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav {
    position: relative;
}

@media (min-width: 992px) {
    .nav .container-fluid {
        padding-left: 52px;
        padding-right: 52px;
    }
}

.nav .navbar {
    height: auto;
    padding: 0 auto;
}

.nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: rgb(209, 62, 62); /*cor de fundo quando é selecionado o Menu*/
}

/*#menu-entrar:hover{
    background-color: rgb(72, 30, 97);
}*/

.nav .dropdown-menu a.active {
    color: #FFF;
    background: #FFF;
}

@media (min-width: 768px) {
    .nav,
    .nav .navbar {
        background: rgb(37, 37, 39) !important; /*cor de preenchimento do Nav-Bar*/
    }
    
    .nav .navbar-brand {
        display: none;
    }
    
    .nav .navbar-dark a.nav-link {
        color: #FFF; /*esse é a cor de descanso dos textos*/
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .nav .navbar-dark a.nav-link:hover, /*hover quando passa*/
    .nav .navbar-dark a.nav-link.active { /*houver quando clica*/
        color: rgb(209, 62, 62); /*esse é a cor de ativacao dos textos*/
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 5px 0;
    }
    
    .nav,
    .nav .navbar {
        background: #1fb179 !important;
    }
    
    .nav a.nav-link {
        padding: 5px 0;
    }
    
    .nav .dropdown-menu {
        box-shadow: none;
    }
}


/**********************************/
/******Header CSS do Home***********/
/**********************************/
.header {
    position: relative;
}

.header .col-md-3,
.header .col-md-6 {
    margin-bottom: 30px;
}

.header .navbar {
    padding: 0;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    background: #ffffff !important;
}

.header .navbar-nav {
    width: 100%;
    padding: 15px 0;
}

.header .navbar li {
    padding: 0 30px;
    border-bottom: 1px solid #f3f6ff;
}

.header .navbar li:last-child {
    border-bottom: none;
}

.header .navbar a {
    color: #353535;
}
.header .navbar a:hover {
    color: #FF6F61;
}


.header .navbar i {
    color: #FF6F61;
    width: 20px;
    text-align: center;
    margin-right: 8px;
}

.header .navbar a:hover i {
    color: #353535;
}

.header-slider {
    position: relative;
    width: 100%;
}

.header-slider .header-slider-item {
    position: relative;
}

.header-slider .header-slider-caption {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 111, 97, .7);
    transition: all 0.3s;
    z-index: 1;
}

.header-slider .header-slider-caption p {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}

.header-slider .header-slider-caption .btn {
    border-color: #ffffff;
}

.header-slider .header-slider-caption .btn i {
    margin-right: 5px;
}

.header .header-img {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    background: #ffffff;
}

.header .img-item {
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.header .img-item img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.header .img-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(255, 111, 97, .7);
    transition: all 0.3s;
    opacity: 0;
}

.header .img-text:hover {
    opacity: 1;     
}

.header .img-text p {
    margin: 0 0 50px 0;
    padding: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    transition: all 0.3s;
}

.header .img-text:hover p {
    margin: 0;       
}



/**********************************/
/********* My Account CSS *********/
/**********************************/
.my-account {
    position: relative;
    padding: 30px 0;
}

.my-account .nav.nav-pills .nav-link {
    padding: 10px 15px;
    color: #353535;
    background: #ffffff;
    border-radius: 4px; /*faz a borda do nav-bar pill dashboard*/
    border-bottom: 1px solid #dddddd;
    transition: all .3s;
}

.my-account .nav.nav-pills .nav-link:last-child {
    border-bottom: none;
}

.my-account .nav.nav-pills .nav-link:hover,
.my-account .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: rgb(209, 62, 62);
}

.my-account .nav.nav-pills .nav-link i {
    margin-right: 5px;
}

.my-account .tab-content {
    padding: 30px;
    background: #ffffff;
    border-radius: 10px; /*mudar a borda dos quadrados*/
}

.my-account .tab-content .table {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.my-account .tab-content .table .thead-dark th {
    text-align: center;
    color: #353535;
    background: #ffffff;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;
}

.my-account .tab-content .table td {
    vertical-align: middle;
}


/**********************************/
/********* Dashboard CSS *********/
/**********************************/
.Dashboard {
    position: relative;
    padding: 30px 0;
}

.Dashboard .nav.nav-pills .nav-link {
    padding: 10px 15px;
    color: #353535;
    background: #ffffff;
    border-radius: 4px; /*faz a borda do nav-bar pill dashboard*/
    border-bottom: 1px solid #dddddd;
    transition: all .3s;
}

.Dashboard .nav.nav-pills .nav-link:last-child {
    border-bottom: none;
}

.Dashboard .nav.nav-pills .nav-link:hover,
.Dashboard .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: rgb(209, 62, 62);
}

.Dashboard .nav.nav-pills .nav-link i {
    margin-right: 5px;
}

.Dashboard .tab-content {
    padding: 30px;
    background: #ffffff;
    border-radius: 10px; /*mudar a borda dos quadrados*/
}

.Dashboard .tab-content .table {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.Dashboard .tab-content .table .thead-dark th {
    text-align: center;
    color: rgb(209, 62, 62);
    background: #ffffff;
    border-color: #dddddd;
    border-bottom: none;
    vertical-align: middle;
}

.Dashboard .tab-content .table td {
    vertical-align: middle;
}

/**********************************/
/*********** Review CSS ***********/
/**********************************/
.review {
    margin-bottom: 30px;
}

.review .review-slider {
    position: relative;
}

.review .review-slider-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
}

.review .review-img {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
}

.review .review-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.review .review-text {
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 200px);
}

.review .review-text h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text p {
    margin: 0;
}

.review .review-text .ratting {
    margin-bottom: 5px;
}

.review .review-text .ratting i {
    color: #FF6F61;
    font-size: 14px;
}

.review .slick-slider:hover .slick-prev {
    left: 30px;
}

.review .slick-slider:hover .slick-next {
    right: 30px;
}

/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    border: 1px solid #dddddd;
    margin-bottom: 15px
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
    border-color: rgb(209, 62, 62);
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    background: #dddddd;
    border-color: #dddddd;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: rgb(209, 62, 62);
    border-color: rgb(209, 62, 62);
    box-shadow: none;
}

.btn {
    color: rgb(209, 62, 62);
    background: #ffffff;
    border: 1px solid rgb(209, 62, 62);
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #ffffff;
    background: rgb(209, 62, 62);
    box-shadow: none;
}

.btn-invert {
    color: #ffffff;
    background: rgb(209, 62, 62);
    border: 1px solid #130808;
}

.ref-btn {
    display: block;
    outline: none;
    width: 100%;

    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;

    border-color: rgb(209, 62, 62);

    background-color: rgb(209, 62, 62);
    color: #FFF;
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
  }


/**********************************/
/********* Caixa Login CSS *********/
/**********************************/

.Caixa-Login{
    width: 300px;
    margin: 10px;
    padding: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.Caixa-Login h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.Caixa-Login input[type = "text"], .Caixa-Login input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 10% auto;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width:  200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    text-align: center;
}

.Caixa-Login input[type = "text"]:focus, .Caixa-Login input[type = "password"]:focus{
    width: 230px;
    border-color: #2ecc71;
}

.Caixa-Login input[type = "submit"],.Caixa-Login input[type = "button"]{
    border: 0;
    background: none;
    display: block;
    margin: 5% auto;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.Caixa-Login input[type = "submit"]:hover,.Caixa-Login input[type = "button"]:hover{
    background: #2ecc71;
}

/**********************************/
/******** Back to Top CSS *********/
/**********************************/
.back-to-top {
    position: fixed;
    display: none;
    background: #FF6F61;
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 4px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #ffffff;
}